@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-display: block;
    src: url('../assets/fonts/noto-sans/noto-sans-latin-700.woff2')
            format('woff2'),
        url('../assets/fonts/noto-sans/noto-sans-latin-700.woff') format('woff');
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('../assets/fonts/noto-sans/noto-sans-latin-400.woff2')
            format('woff2'),
        url('../assets/fonts/noto-sans/noto-sans-latin-400.woff') format('woff');
}
